{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block homey %}<li class="active"><a href="/blog/home/">Home</a></li> {% endblock %}
{% block uname %}{{ user.last_name}}, {{ user.first_name }}{% endblock %}
{% block body %}
    <form action = "/blog/home" method = "POST">
    {% csrf_token %}
    <div>
    Sort by:
      <input type="radio" name="author" value="author"> Author
      <input type="radio" name="date" value="date"> Date Created
        <input type="radio" name="le" value="le"> Last Edited
        <input type="radio" name="lc" value="lc"> Last Created
        <input type="radio" name="title" value="title"> Title

        <button type="submit" class="btn btn-default" display:inline-block>Sort</button>
    </div>
    <br>
    </form>
    {% if posts %}
        {% if reveresed == True%}
            {%  for post in posts reversed %}

             <a href = "/blog/{{ post.id }}/">
                <div class = "col-md-12">
                        {% if user.username == post.author.username %}
                            <div class="panel panel-success">
                        {% else %}
                            <div class="panel panel-primary">
                        {% endif %}

                        <div class="panel-heading"> {{ post.title|slice:":50" }}
                            <span style = "float:right">

                                <kbd>{{ post.author.first_name }} {{ post.author.last_name }}</kbd> <small>{{ post.cdate }}/{{ post.edate }}</small>
                            </span>
                        </div>
                        <div class="panel-body">{{ post.content|linebreaks|slice:":300" }}<br><br> <small>
                            {% for x in comments %}
                                {% if x.0 == post.id %}
                                    {{ x.2 }}
                                {% endif %}
                            {% endfor %}
                            likes ·
                             {% for x in comments %}
                                {% if x.0 == post.id %}
                                    {{ x.3 }}
                                {% endif %}
                            {% endfor %}
                            dislikes ·
                            {% for x in comments %}
                                {% if x.0 == post.id %}
                                    {{ x.1|length }}
                                {% endif %}
                            {% endfor %}
                            comments</small></div>
                         </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
            {%  for post in posts %}

             <a href = "/blog/{{ post.id }}/">
                <div class = "col-md-12">
                        {% if user.username == post.author.username %}
                            <div class="panel panel-success">
                        {% else %}
                            <div class="panel panel-primary">
                        {% endif %}

                    <div class="panel-heading"> {{ post.title|slice:":50" }} <span style = "float:right"><kbd>{{ post.author.first_name }} {{ post.author.last_name }}</kbd> <small>{{ post.cdate }}/{{ post.edate }}</small></span></div>
                        <div class="panel-body">{{ post.content|linebreaks|slice:":300"}} <br><br><small>
                            {% for x in comments %}
                                {% if x.0 == post.id %}
                                    {{ x.2 }}
                                {% endif %}
                            {% endfor %}
                            points ·
                            {% for x in comments %}
                                {% if x.0 == post.id %}
                                    {{ x.1|length }}
                                {% endif %}
                            {% endfor %}
                            comments</small></div>
                         </div>
                </div>
            </a>
            {% endfor %}
        {% endif %}

    {% else %}
        <header> There are no posts yet on this site, Be the first to try it now!</header>
    {% endif %}
{% endblock %}