
{% extends 'base.html' %}
{% block title %}Create Blog{% endblock %}
{% block blogy %}<li class="active"><a href="Cblog">Blog</a></li> {% endblock %}
{% block uname %}{{ user.last_name}}, {{ user.first_name }}{% endblock %}
{% block body %}


    <form action = 'Update' method = "POST">
            {% csrf_token %}
            <p>Title:</p>
            <input type="text" class="form-control" id="title" name = "title" value = "{{ post.title }}">
            <textarea class="form-control" id="comment" name = "content">{{ post.content }}</textarea>

        <input type = "submit" name = "submit" value = "Submit">

    </form>

{% endblock %}